<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>A Simple Responsive HTML Email</title>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css/">
    <style type="text/css">
        .my-card-content {
            padding: 16px;
        }

        .my-card {
            height: 270px;
            width: 350px;
        }

        .my-title {
            text-align: center
        }
    </style>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>

<body>
    <header>
        <div style="margin: 0 auto" class="mdc-card demo-card my-card">
            <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
                <div class="mdc-card__media mdc-card__media--16-9 demo-card__media"
                    style='background-image: url("https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg");'>
                </div>
                <div class="demo-card__primary">
                    <h2 class="demo-card__title mdc-typography mdc-typography--headline6 my-title">
                        <a href="https://run-amok-free.herokuapp.com/">Run-Amok</a>
                    </h2>
                </div>
            </div>
        </div>
    </header>
    <section>
            <% if (token) { %>
            <p style="text-align:center"><a href='https://run-amok-free.herokuapp.com/sign-up/<%= token %>/<% if (email) { %><%= email %><% } %>'>
                    Click Here to Sign Up! </a>
            </p>
            <% } %>
    </section>
</body>

</html>