.beverage-description, .beverage-name {
  width: 100%;
}

.editable {
  padding: 3px;
  border-radius: 4px;
  background-color: #eee;
  width: 100%;
}

.overflow-table {
  overflow-x: auto;
  margin-bottom: 75px;
}

@media only screen and (max-width : 1156px) {
  .beverage-name {
    width: 150px !important;
  }
  .beverage-description {
    width: 280px !important;
  }
}